*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{

    font-family:"Segoe UI",sans-serif;

    background:#0f172a;

    min-height:100vh;

}
.login-page{

    width:100%;

    min-height:100vh;

    display:flex;

}
.left-panel{

    width:45%;

     
    background:linear-gradient(
        135deg,
        #18d4ec 0%,
        #2346a7 35%,
        #075d85 70%,
        #274b94 100%
    );

      
    position:relative;
    overflow:hidden;


    color: white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    padding:70px;

}
.left-panel::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    background:rgba(99,102,241,0.18);

    border-radius:50%;

    top:-120px;
    left:-120px;

    filter:blur(80px);

}

.logo{

    width:90px;

    height:90px;

    border-radius:20px;

    background:linear-gradient(
    135deg,
    #272633,
    #46477e);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:35px;

    font-weight:bold;

    margin-bottom:30px;

}
.brand{

    max-width:420px;

}
.brand p{

    font-size:18px;

    line-height:30px;

    color:#CBD5E1;

}
.brand h1{


    font-size:42px;

    color:white;

    margin-bottom:10px;

}
.brand h2{

    font-size:28px;

    color:#94a3b8;

    margin-bottom:30px;

}
.left-panel p{

    font-size:18px;

    line-height:30px;

    color:#cbd5e1;

    margin-bottom:30px;

}
.features{

    display:flex;

    flex-direction:column;

    gap:15px;

}
.features p{

    font-size:17px;

}
.right-panel{

    width:55%;

    background:#f8fafc;

    display:flex;

    justify-content:center;

    align-items:center;

}
.login-card{

    width:450px;

    background:white;

    border-radius:20px;

    padding:30px 40px 20px 40px;

    box-shadow:0 20px 50px rgba(0,0,0,.15);

    transition:.4s;

    margin-bottom: 100px;


}
.login-card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 35px 80px rgba(15,23,42,.25);

}

.login-card h2{

    font-size:34px;

    color:#111827;

    margin-bottom:5px;

}


.login-card p{

    color:#6b7280;

    margin-bottom:20px;

}
.input-group{

    margin-bottom:20px;

}
.input-group label{

    display:block;

    margin-bottom:8px;

    font-size:15px;

    font-weight:600;

    color:#374151;

}
.input-group input{

    width:100%;

    height:55px;

    padding:0 18px;

    border:2px solid #d1d5db;

    border-radius:12px;

    font-size:16px;

    transition:.3s;

    outline:none;

}
.input-group input:focus{

    border-color:#5b5a77;

    box-shadow:0 0 12px rgba(79,70,229,.25);

}
.input-group input::placeholder{

    color:#9ca3af;

}
.options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}
.options label{

    display:flex;

    align-items:center;

    gap:8px;

    font-size:14px;

    color:#374151;

    cursor:pointer;

}
.options input[type="checkbox"]{

    width:18px;

    height:18px;

    accent-color:#413f68;

    cursor:pointer;

}

.options a{

    text-decoration:none;

    color:#3c3a61;

    font-size:15px;

    transition:.3s;

    font-weight:600;

}
.options a:hover{

    color:#312e81;

}
#loginBtn{

    width:100%;

    height:55px;

    border:none;

    border-radius:12px;

    background:linear-gradient(
    135deg,
    #a7a4eb,
    #0d0e27);

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}
#loginBtn:hover{

    background:linear-gradient(
    135deg,
    #7e7ac9,
    #0d0e27);

    transform:translateY(-3px);

    box-shadow:0 15px 25px rgba(79,70,229,.35);

}
#message{

    margin-top:18px;

    text-align:center;

    font-size:15px;

    font-weight:600;

    min-height:22px;

}


.divider{

    display:flex;

    align-items:center;

    margin:15px 0;

}
.divider::before,

.divider::after{

    content:"";

    flex:1;

    height:1px;

    background:#D1D5DB;

}
.divider span{

    margin:0 15px;

    color:#6B7280;

    font-size:14px;

    font-weight:600;

}
.google-btn{

    width:100%;

    height:55px;

    border:2px solid #E5E7EB;

    border-radius:15px;

    background:#FFFFFF;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    font-size:16px;

    font-weight:600;

    color:#374151;

    cursor:pointer;

    transition:.3s;

}
.google-btn img{

    width:22px;

    height:22px;

}
.google-btn:hover{

    background:#F8FAFC;

    border-color:#464375;

    transform:translateY(-2px);

}
.signup{

    margin-top:18px;

    text-align:center;

    font-size:15px;

    color:#6B7280;


}
.signup a{

    text-decoration:none;

    color:#3d3b61;

    font-weight:700;

    transition:.3s;

}
.signup a:hover{

    color:#312E81;

}
/* PREMIUM BODY BACKGROUND */

body{

    background:
    radial-gradient(circle at top left,#312E81 0%,#111827 40%,#020617 100%);

    overflow:hidden;

    position:relative;

}

/* TOP GLOW */

body::before{

    content:"";

    position:absolute;

    width:500px;

    height:500px;

    background:rgba(99,102,241,.18);

    border-radius:50%;

    top:-180px;

    left:-180px;

    filter:blur(90px);

    animation:moveGlow1 10s ease-in-out infinite alternate;

}

/* BOTTOM GLOW */

body::after{

    content:"";

    position:absolute;

    width:450px;

    height:450px;

    background:rgba(59,130,246,.15);

    border-radius:50%;

    right:-150px;

    bottom:-150px;

    filter:blur(90px);

    animation:moveGlow2 12s ease-in-out infinite alternate;

}

/* ANIMATION 1 */

@keyframes moveGlow1{

    from{

        transform:translate(0,0);

    }

    to{

        transform:translate(60px,40px);

    }

}

/* ANIMATION 2 */


@keyframes moveGlow2{

    from{

        transform:translate(0,0);

    }

    to{

        transform:translate(-60px,-40px);

    }

}

/* PASSWORD BOX */

.password-box{

    position:relative;

}

/* Password Input */

.password-box input{

    padding-right:55px;

}

/* Eye Icon */

#togglePassword{

    position:absolute;

    top:50%;

    right:18px;

    transform:translateY(-50%);

    cursor:pointer;

    font-size:20px;

    user-select:none;

    transition:.3s;

}

#togglePassword:hover{

    transform:translateY(-50%) scale(1.15);

}